*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
header{
	min-height: 175px;
	background-image: url(img/b2-md.jpg);
	background-position: top center;
  background-size: cover;
  color: #27223E;
  padding-top: 32px;
  position: relative;
}
.description{
	text-align: center;
	text-transform: uppercase;
	font-weight: inherit;
	color: #27223E;
}
.tel{
	text-align: right;
}